header {
    text-align: center;
    background-color: blue;
    color: white;
    border: 2px black;
    padding: 2%;
}
sidebar{
    float: left;
    margin-right: 5%;
    margin-bottom: 100%;
}

.stacked button{
    /* display: block;  */
    cursor: pointer;
    width: 50%;
    margin-bottom: 10%;
    margin-top: 10%;
}
main {
    display: flexbox;
    

}
.fiveDay {
    float: center; 
}
currentW {
    border: 1px black;
    background-color: red;
 }